:root{
  --accent:#8cff9e;
  --accent2:#6bb0ff;
  --text:#dbefff;
  --glass: rgba(255,255,255,0.05);
}
.txt-green {
  --accent:#8cff9e;
  --accent2:#6bb0ff;
  --text:#dbefff;
  --glass: rgba(255,255,255,0.05);
}

html{
  height:100%;
  background:#000;
}

body{
  height:100%;
  margin:0;
  font-family:Inter, system-ui;
  background:transparent;
  color:var(--text);
}

*{box-sizing:border-box;}

#galaxia{
  position:fixed;
  inset:0;
  width:100%;
  height:100%;
  z-index:0;
  pointer-events:none;
}

.wrap{
  max-width:1100px;
  margin:40px auto;
  padding:32px;
  border-radius:18px;
  background: rgba(0,0,0,0.2);
  border:1px solid var(--glass);
  box-shadow:0 15px 40px rgba(0,0,0,.6);
  backdrop-filter:blur(12px);
  position:relative;
  z-index:1;
}

.hero{text-align:center;padding:30px 10px;}

.name{
  font-size:clamp(40px,7vw,68px);
  font-weight:900;
  letter-spacing:1px;
  background: linear-gradient(90deg,var(--accent),var(--accent2));
  -webkit-background-clip:text;
  color:transparent;
  filter:
    drop-shadow(0 0 6px var(--accent))
    drop-shadow(0 0 16px var(--accent2));
  animation: glow 2s infinite alternate;
}

@keyframes glow{
  from{
    filter:
      drop-shadow(0 0 6px var(--accent))
      drop-shadow(0 0 16px var(--accent2));
  }
  to{
    filter:
      drop-shadow(0 0 20px var(--accent2))
      drop-shadow(0 0 34px var(--accent));
  }
}

.role{margin-top:10px;font-size:18px;}
.devtime{margin-top:6px;font-size:16px;opacity:.85;}

.badges{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:10px;
  margin-top:16px;
}

.badge{
  padding:8px 14px;
  border-radius:999px;
  font-size:13px;
  background:rgba(255,255,255,0.02);
  border:1px solid var(--glass);
}

.grid{
  display:grid;
  grid-template-columns:1fr 340px;
  gap:22px;
  margin-top:30px;
}

@media(max-width:900px){
  .grid{grid-template-columns:1fr;}
}

.card{
  background: rgba(0,0,0,0.2);
  padding:18px;
  border-radius:14px;
  border:1px solid var(--glass);
  backdrop-filter:blur(12px);
  transition:.4s;
}

.card:hover{transform:translateY(-6px);}

.titulo{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

.servicio{
  padding:12px;
  border-radius:10px;
  background:rgba(255,255,255,0.02);
  border:1px solid rgba(255,255,255,.03);
  margin-top:10px;
}

.habilidad{margin:12px 0;}

.barra{
  height:12px;
  background:rgba(255,255,255,.05);
  border-radius:999px;
  overflow:hidden;
}

.lleno{
  height:100%;
  background:linear-gradient(90deg,var(--accent),var(--accent2));
}

.cta{
  margin-top:12px;
  padding:12px;
  width:100%;
  border-radius:12px;
  font-weight:800;
  background:linear-gradient(90deg,var(--accent),var(--accent2));
  color:#041018;
  border:none;
  cursor:pointer;
}

footer{
  text-align:center;
  margin-top:22px;
  font-size:13px;
  opacity:.85;
}